# EDA

In [1]:
from os.path import join
import pandas as pd
from pandas_profiling import ProfileReport

# Load data

In [2]:
path = join("..", "data", "data.csv.gz")

In [3]:
df = pd.read_csv(path, compression='gzip')
df

           steamid  appid  playtime_forever
0          2126223    223            1708.0
1          2126223   1307             969.0
2          2126223    228            6696.0
3          2126223    838               NaN
4          2126223   1184            7385.0
...            ...    ...               ...
277891154        3    838               NaN
277891155        3   2513               NaN
277891156        3     54               NaN
277891157        3     62               NaN
277891158        3     66               NaN

[277891159 rows x 3 columns]

# Nan-s

In [4]:
df.playtime_forever.isna().sum()/len(df), df.playtime_forever.isna().sum()

(0.3644220253872848, 101269659)

In [5]:
df = df[~df.playtime_forever.isna()]
df.head()

   steamid  appid  playtime_forever
0  2126223    223            1708.0
1  2126223   1307             969.0
2  2126223    228            6696.0
4  2126223   1184            7385.0
5  2126223    176             494.0

In [6]:
# df = df.head(10_000)

In [7]:
df.steamid = df.steamid.astype(str)

/Users/piotr/opt/anaconda3/envs/img/lib/python3.7/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
df.appid = df.appid.astype(str)

# Unique values

In [ ]:
df.steamid.nunique()

In [ ]:
df.appid.nunique()

# Number of games per user

In [ ]:
grouped_num = df.groupby("steamid").appid.nunique()

grouped_num.mean(), grouped_num.std()

In [ ]:
grouped_num.plot.hist(bins=100)

# Average time played by user

In [ ]:
grouped_steamid = df.groupby("steamid").playtime_forever.sum()

grouped_steamid.mean()/60, grouped_steamid.std()/60

In [ ]:
grouped_steamid.plot.hist(bins=100)

# Average time played by game

In [ ]:
grouped_appid = df.groupby("appid").playtime_forever.sum()

grouped_appid.mean()/60, grouped_appid.std()/60

In [ ]:
grouped_appid.plot.hist(bins=10_000, xlim=(0,2500))

# Average time played by game by user

In [ ]:
df.playtime_forever.mean()/60, df.playtime_forever.std()/60

In [ ]:
df.playtime_forever.plot.hist(bins=10_000, xlim=(0,2500))